sed -i '' 's/[~=]=/>=/' requirements.txt
pip install -U -r requirements.txt
pip freeze | sed 's/==/~=/' > requirements.txt
pip install virtualenv
virtualenv --python=python3.7.2 env
source env/bin/activate
Django>=1.7,<1.8
python manage.py migrate
python manage.py runserver 0.0.0.0:8001


